.App {
  font-family: sans-serif;
  text-align: center;
}
Form{
  text-align:left;
  margin:3%;
}
.comment{
  text-align:left;
  padding-left:3%;

}
.avatar{
  float:left;
  margin-bottom: 6px;
  width:2px;
  height:2px;
}

.commentName{
  color:black;
  margin-left:2%;
  
}
/* NavBar */
.navbut{
padding:2%;
}
.navbrand{
padding:2%;
}
.navbar{
  max-height:80px;
  color:#fff;
}